@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

.logo img {
    height: 40px;
}

.recherche {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.recherche a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.recherche input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #282828;
    color: white;
    font-size: 20px;
    width: 500px;
}

.auth-links {
    display: flex;
    gap: 20px;
}

.auth-links button {
    font-size: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.auth-links button:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    flex: 1;
    background-color: black;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
 
.sidebar-container {
    width: 350px;
    background-color: #101011;
    padding: 20px;
    color: white;
    border-radius: 10px;
    height: 84vh;
}
 
.sidebar {
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}

.head-playlist {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.head-playlist h3 {
	margin: 0px;
	font-size: 30px;
}

/*Petite fenêtre pour l'ajout*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: black;
    border: 2px solid white;
    margin: auto;
    padding: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

.modal-content h2 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.modal-content form {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.modal-content form label {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.modal-content form input {
    font-size: 18px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    width: 80%;
}

.modal-content form button {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-content button {
    font-size: 15px;
    margin-top: 40px;
}

.close {
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ddd;
}
/*############################################*/

.add-playlist button{
    font-size: 35px;
    border-radius: 20px;
    padding: 0px 6px;
    margin-bottom: 3px;
    background-color: #101011;
    border: none;
    color: white;
}

.add-playlist button:hover {
    transform: scale(1.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: rgba(240, 240, 240, 0.3);
}

.content-container {
    flex: 1;
    padding: 20px;
    background-color: #101011;
    border-radius: 10px;
    overflow-y:scroll;
}

.artists, .albums, .songs {
    margin-top: 15px;
    display: flex; 
    flex-wrap: wrap;
}

footer {
    background-color: #181818;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.current-song {
    display: flex;
    align-items: center;
}

.controls button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #1aa34a;
}
