<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Se connecter</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="container">
		<h1>Se connecter</h1>
    	<form action="/login" method="post">        	
        	<label>Email</label>
        	<input type="email" name="email" placeholder="Email" required>
        	
        	<label>Mot de passe</label>
        	<input type="password" name="password" placeholder="Mot de passe" required>
        	
        	<button type="submit">Se connceter</button>
    	</form>
    	<p th:text="${erreur}" style="color: red;"></p>
    	<div class="footer-container">
            <label>Vous n'avez pas de compte ?</label>
    	    <a href="/signup">S'inscrire</a>
        </div>
	</div>
</body>
</html>